  /* site variables */
  :root {
    --base-color: hsla(0, 0%, 100%, 1); /* White */
    --primary-heading-color: hsla(218, 100%, 29%, 1); /* Dark Blue */
    --primary-background-color: hsla(0, 0%, 100%, 1); /* White */
    --name-color: hsla(0, 0%, 100%, 1); /* White */
    --tagline-color: hsla(0, 0%, 100%, 1); /* White */
    --primary-text-color: hsla(0, 0%, 13%, 1); /* Dark Gray */
    --secondary-heading-color: hsla(0, 0%, 100%, 1); /* White */
    --nav-text-color: hsla(0, 0%, 100%, 1); /* White */
    --secondary-text-color: hsla(206, 5%, 30%, 1); /* Gray-Blue */
    --link-color: hsla(202, 68%, 29%, 1); /* Dark Turquoise */
    --link-hover-color: hsla(30, 100%, 50%, 1); /* Orange */
    --border-color: hsla(200, 48%, 38%, 1); /* Dark Sky Blue */
    --primary-heading-font-size: 32px;
    --nav-bar-font-size: 22px;
    --secondary-heading-font-size: 24px;
    --secondary-background-color: hsla(218, 100%, 29%, 1); /* Dark Blue */
    --tertiary-background-color: hsla(205, 46%, 79%, 1); /* Light Sky Blue */
    --tertiary-heading-color: hsla(218, 100%, 29%, 1); /* Dark Blue */
    --tertiary-heading-font-size: 20px;
    --small-screen: 768px;
    --medium-screen: 992px;
    --large-screen: 1200px;
    --primary-border-color: hsla(218, 100%, 29%, 1); /* Dark Blue */
  }
  
  /* Complementary Colors for Dark Blue (#00308F):

Complement: hsla(38, 100%, 50%, 1) (Orange)
Contrast: hsla(118, 100%, 50%, 1) (Green)
Complementary Colors for Light Sky Blue (#B9D9EB):

Complement: hsla(25, 100%, 50%, 1) (Orange-Red)
Contrast: hsla(290, 100%, 50%, 1) (Purple)
Complementary Colors for Dark Sky Blue (#29648A):

Complement: hsla(15, 100%, 50%, 1) (Red-Orange)
Contrast: hsla(140, 100%, 30%, 1) (Dark Green)
Contrasting Color for Dark Gray (#222629):

Contrast: hsla(40, 80%, 60%, 1) (Yellow) */


  /* header styles */
  h1 {
    padding: 10px;
    color: var(--name-color);
    font-size: var(--primary-heading-font-size);
  }
  
  h2 {
    padding: 10px;
    text-align: right;
    color: var(--tagline-color);
    font-size: var(--primary-heading-font-size);
    background-color: var(--secondary-heading-color);
  }
  
  h3 {
    padding: 10px;
    margin: 25px;
    color: var(--primary-heading-color);
    font-size: var(--primary-heading-font-size);
    width: 20%;
    border-right: 3px solid var(--border-color);
    margin-right: 10px;
  }
  
  h4 {
    color: var(--tertiary-heading-color);
    font-size: var(--tertiary-heading-font-size);
    text-align: center;
    text-decoration: underline;
    margin: 10px;
  }
  
  h5 {
    padding: 10px;
    margin: 25px;
    color: var(--base-color);
    font-size: var(--primary-heading-font-size);
    width: 20%;
    border-right: 3px solid var(--base-color);
    margin-right: 10px;
  }
  
  h6 {
    padding: 10px;
    margin: 0;
  }

/* Header & Navbar */
header {
  padding: 20px;
  background-color: var(--secondary-background-color);
}

nav {
  background-color: var(--secondary-background-color);
  color: var(--secondary-heading-color);
  }

  .custom-navbar ul {
    list-style: none;
    font-size: var(--nav-bar-font-size);
  }
  
  .custom-navbar a {
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 0.5s;
  }
  
  .custom-navbar a:hover {
    color: var(--link-color);
  }

  .custom-navbar .navbar-brand {
    color: #ff851b; /* Orange color for brand name */
  }
  
  .custom-navbar .navbar-nav {
    margin-left: auto; /* Move the navbar items to the right */
  }

  .custom-navbar .navbar-nav .nav-link {
    color: #fff; /* White color for nav items */
    padding: 0.5rem 1rem; /* Adjust padding for better spacing */
  }

  /* Jumbotron */
  .myjumbo {
    min-width: 500px;
    max-height: 500px;
    font-size: 24px;
  }
  
  .myhero {
    background-color: var(--tertiary-background-color) !important;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .jumboButton {
    background-color: var(--primary-heading-color);
  }
  
  .tagline {
    text-align: center;
  }
  

  /* Main Body Text Formatting */
  body {
    background-color: var(--base-color);
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: "Open Sans", "Roboto Slab", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    line-height: 1.5;
  }
  
  p {
    padding: 10px;
    padding-top: 10px;
    margin: 10px;
    word-spacing: 1.5px;
    width: 70%;
    text-align: justify;
  }
  
  .page-section {
    text-align: left;
    display: flex;
    margin-bottom: 20px;
  }
  
  /* Skills */
  .logo {
    max-height: fit-content;
    max-width: fit-content;
  }
  
  .skillsCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexItemSkill {
    width: 260px;
    height: 260px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Change to space-between for equal spacing */
    object-fit: contain;
  }
  
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .content {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.content:hover .overlay {
  opacity: 1;
}

  .overlay-text {
    color: white;
    font-size: 16px;
    position: absolute;
    text-align: center;
  }

  .skill-logo {
    display: block;
    width: 100%;
    height: auto;
    max-width:100%;
    max-height:100%;
  }

  /* featured project section */  
  .flexPrimary {
    width: 1100px;
    height: 600px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* other projects section */
  .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flexRow {
    display: flex;
    justify-content: center;
  }
  
  .flexItem {
    width: 540px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .flexItem2 {
    width: 355px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .flexItem3 {
    width: 265px;
    height: 150px;
    margin: 5px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* Contact Me */
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-item {
    font-size: 18px;
    width: 80%;
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .contact-item a {
    text-decoration: none;
    color: var(--primary-heading-color);
    transition: color 0.5s;
  }
  
  .contact-item a:hover {
    color: var(--link-hover-color);
  }  

  /* Footer */
footer {
    background-color: var(--secondary-background-color);
    color: var(--base-color);
  }

  .custom-footer a {
    color: white;
    font-size: 20px;
  }

  #copyright {
    color: var(--base-color);
    align-items: center;
    width: 100%;
      text-align: center;
  }