  /* site variables */
  :root {
    --base-color: #fff;
    --primary-heading-color: #00308F;
    --primary-background-color: #fff;
    --name-color: #fff;
    --tagline-color: #fff;
    --primary-text-color: #222629;
    --secondary-heading-color: #fff;
    --nav-text-color: #fff;
    --secondary-text-color: #474B4F;
    --link-color: #31708E;
    --link-hover-color: Orange;
    --border-color: #29648A;
    --primary-heading-font-size: 32px;
    --nav-bar-font-size: 22px;
    --secondary-heading-font-size: 24px;
    --secondary-background-color: #00308F;
    --tertiary-background-color: #B9D9EB;
    --small-screen: 768px;
    --medium-screen: 992px;
    --large-screen: 1200px;
    --primary-border-color: #00308f;
  }
  
  
  /* header styles */
  h1 {
    padding: 10px;
    color: var(--name-color);
    font-size: var(--primary-heading-font-size);
  }
  
  h2 {
    padding: 10px;
    text-align: right;
    color: var(--tagline-color);
    font-size: var(--primary-heading-font-size);
    background-color: var(--secondary-heading-color);
  }
  
  h3 {
    padding: 10px;
    margin: 25px;
    color: var(--primary-heading-color);
    font-size: var(--primary-heading-font-size);
    width: 20%;
    border-right: 3px solid var(--border-color);
    margin-right: 10px;
  }
  
  h4 {
    color: var(--secondary-heading-color);
    font-size: var(--secondary-heading-font-size);
    margin: 10px;
  }
  
  h5 {
    padding: 10px;
    margin: 25px;
    color: var(--base-color);
    font-size: var(--primary-heading-font-size);
    width: 20%;
    border-right: 3px solid var(--base-color);
    margin-right: 10px;
  }
  
  h6 {
    padding: 10px;
    margin: 0;
  }

/* Header & Navbar */
header {
  padding: 20px;
  background-color: var(--secondary-background-color);
}

nav {
  background-color: var(--secondary-background-color);
  color: var(--secondary-heading-color);
  }

  .custom-navbar ul {
    list-style: none;
    font-size: var(--nav-bar-font-size);
  }
  
  .custom-navbar a {
    text-decoration: none;
    color: var(--nav-text-color);
    transition: color 0.5s;
  }
  
  .custom-navbar a:hover {
    color: var(--link-color);
  }

  .custom-navbar .navbar-brand {
    color: #ff851b; /* Orange color for brand name */
  }
  
  .custom-navbar .navbar-nav {
    margin-left: auto; /* Move the navbar items to the right */
  }

  .custom-navbar .navbar-nav .nav-link {
    color: #fff; /* White color for nav items */
    padding: 0.5rem 1rem; /* Adjust padding for better spacing */
  }

  /* Jumbotron */
  .myjumbo {
    min-width: 500px;
    max-height: 500px;
    font-size: 24px;
  }
  
  .myhero {
    background-color: var(--tertiary-background-color) !important;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .jumboButton {
    background-color: var(--primary-heading-color);
  }
  
  .tagline {
    text-align: center;
  }
  

  /* Main Body Text Formatting */
  body {
    background-color: var(--base-color);
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: "Open Sans", "Roboto Slab", "Lucida Grande", "Lucida Sans", Arial,
      sans-serif;
    line-height: 1.5;
  }
  
  p {
    padding: 10px;
    padding-top: 10px;
    margin: 10px;
    word-spacing: 1.5px;
    width: 70%;
    text-align: justify;
  }
  
  .page-section {
    text-align: left;
    display: flex;
    margin-bottom: 20px;
  }
  
  /* Skills */
  .logo {
    max-height: fit-content;
    max-width: fit-content;
  }
  
  .skillsCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexItemSkill {
    width: 260px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Change to space-between for equal spacing */
  }
  
  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  /* featured project section */  
  .flexPrimary {
    width: 1100px;
    height: 600px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* other projects section */
  .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flexRow {
    display: flex;
    justify-content: center;
  }
  
  .flexItem {
    width: 540px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .flexItem2 {
    width: 355px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .flexItem3 {
    width: 265px;
    height: 150px;
    margin: 5px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /* Contact Me */
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-item {
    font-size: 18px;
    width: 80%;
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .contact-item a {
    text-decoration: none;
    color: var(--primary-heading-color);
    transition: color 0.5s;
  }
  
  .contact-item a:hover {
    color: var(--link-hover-color);
  }  

  /* Footer */
footer {
    background-color: var(--secondary-background-color);
    color: var(--base-color);
  }

  .custom-footer a {
    color: white;
    font-size: 20px;
  }

  #copyright {
    color: var(--base-color);
    align-items: center;
    width: 100%;
      text-align: center;
  }